**/.venv/
**/.venv
*.egg-info/
*.egg-info
__pycache__/
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.git/
.git
.gitignore
README.md
.env
.DS_Store
uv.lock
temp-strudel/
mcp-strudel.working/
mcp-strudel.remote.working/
